#link {
    text-decoration: none;
    color: aliceblue;
    font-size: 36px;
    transition: all 1s ease 0.2s;
}

#link:hover {

    color: rgb(230, 177, 107);
}

nav {
    font-size: 24px;
    margin: 20px;
}